body {
    background-color: rgb(255, 239, 194);
}


header img {
    float: left;
    margin-right: 20px;
}


#content1, #content2, #content3, header div, footer div{
    margin: auto;
    max-width: 100%;
    vertical-align:center;
    background-color: rgb(252, 202, 64);
}

#content1, #content2, #content3, #h1, #h2 {
    max-width: 960px;
}

#t, #h2 {
    margin-top: 20px;
}

table{
    margin: auto;
    background-color: rgb(188, 255, 112);
    border-color: rgb(0, 0, 0); 
    width: 480px;
}

table tr.color1{
    background-color:#00CCCC;
}

table tr.color2{
    background-color:#55FF55;
}

#h2 a.active, #t a.active {
    color: rgb(0, 0, 0);
    font-weight: bold;
   }
